.banner_roof {
  position: relative;
  height: 80vh;
  padding-bottom: 12rem;
}

.banner_roof .logo {
  margin-top: 8px;
}

.banner_roof .menu__content {
  display: flex;
}

.banner_roof .menu__content__item {
  margin-top: 20px;
  margin-left: 20px;
}

.banner_roof .menu__content__item button {
  font-size: 1.125rem;
  padding: 3px 8px;
  border: 1px solid transparent;
  border-radius: 10px;
  background: transparent;
  color: #fff;
}

.banner_roof .menu__content__item button:hover {
  color: #ccc;
}

.banner_roof .baner_roof_content {
  position: absolute;
  bottom: 6rem;

  @include media-tablet {
    bottom: 10rem;
  }
}

.banner_roof h2 {
  margin-left: 15px;
  font-weight: bold;
  font-size: 4rem;
  color: #fff;

  @include media-tablet {
    font-size: 2rem;
  }
}

.banner_roof .sub_header {
  font-size: 2rem;
  color: #fff;
}

.banner_roof .banner-roof_credit {
  margin: 60px 0 0 540px;
  color: $accent;

  @include media-laptop {
    margin: 40px 0 0 0;
    font-size: 1.375rem;
  }
}

.blackout {
  height: 80vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url('../../../img/roof_banner.jpg') center center no-repeat;
  background-size: cover;
  filter: brightness(0.6);
}

.btn-container {
    margin-top: 18px;
}

.btn-container button {
    background-color: $success;
}
