.modal.fade#calculateModalSidingSiding(tabindex="-1" role="dialog" aria-labelledby="calculateModalSiding" aria-hidden="true")
    .modal-dialog.modal-dialog-centered(role="document")
        .modal-content
            .modal-header
                h5.modal-title#exampleModalLongTitle Ответьте на несколько вопросов. 
                    span Шаг 
                        span#step 1 
                        span из 5.
                button.close(type="button" data-dismiss="modal" aria-label="Close")
                span(aria-hidden="true") &times
            .modal-body 
                <div id="progress" class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                .container
                    .question
                        .h5
                            b Выберите вид обшивки:
                        .row.justify-content-center.w-100
                            .col-md-6.card.roof-calc-card(data-type="Карабельный Брус")
                                img.card-img-top(src="img/carable_brus.jpg" alt="Card image cap")
                                .card-body
                                    span Карабельный брус
                            .col-md-6.card.roof-calc-card(data-type="Блок-хаус")
                                img.card-img-top(src="img/block_house_calc.jpg" alt="Card image cap")
                                .card-body
                                    span Блок-хаус
                            .col-md-6.card.roof-calc-card(data-type="Фасадные панели с иметацией кирпича")
                                img.card-img-top(src="img/panel_kirpich_calc.jpg" alt="Card image cap")
                                .card-body
                                    span Фасадные панели с иметацией кирпича
                            .col-md-6.card.roof-calc-card(data-type="Фасадные панели с иметацией камня")
                                img.card-img-top(src="img/panel_stone_calc.jpg" alt="Card image cap")
                                .card-body
                                    span Фасадные панели с иметацией камня
                            .col-md-6.card.roof-calc-card(data-type="Тимберблок с иметацией дерева")
                                img.card-img-top(src="img/timberblock_calc.jpg" alt="Card image cap")
                                .card-body
                                    span Тимберблок с иметацией дерева
                    .d-none.question
                        .h5
                            b Нужно ли утепление?
                        #options 
                            label.options Да, нужно делать утепление
                               input(type="radio" name="radio" data-type="Да")
                               span.checkmark
                            label.options Нет, утепление не нужно
                                input(type="radio" name="radio" data-type="Нет")
                                span.checkmark
                    .d-none.question
                        .h5 
                            b Какая примерно площадь фасада Вам нужна?
                        input.range(min="10" max="500" value="0" step="1" type="range" name="square") 
                        #squareValue
                            span 0 кв.м.
                    .d-none.question
                        .h5 
                            b Укажите место строительства (для расчета стоимости доставки)
                        input.form-control.city(type="text" name="city" placeholder="Например: Молодечно")
                    form#form3.d-none.question.needs-validation(novalidate)
                        .h5 
                            b Заполните, пожалуйста, форму контактов, чтобы мы знали куда отправлять результаты расчета стоимости!
                        .form-group
                            label(for="validationCustom04") Ваше имя:
                            input.form-control#validationCustom04(name="name" type="text" placeholder="Ваше имя")
                        .form-group
                            label(for="validationCustom05") Ваш Email:
                            input.form-control#validationCustom05(name="email" type="email" aria-describedby="emailHelp" placeholder="Enter email")
                        .form-group
                            label(for="validationCustom06") Ваш телефон:
                            input.form-control#validationCustom06(name="phone" type="number" aria-describedby="emailHelp" required placeholder="375XX XXX XX XX")
                        button.btn.btn-primary(type="submit") Отправить
                #price-btns.d-flex.align-items-center.pt-3
                    #prev.siding
                        button.btn.btn-disabled(disabled) Previous
                    #next.ml-auto.mr-sm-5.siding
                        button.btn.btn-disabled(disabled) Next