section.credit
    .container
        .row.justify-content-center   
            .col-12
                h4.text-center Также мы можем предоставить кредитование на срок  до 5 лет  в банках-партнерах:
                .banks
                    img(src="https://thumb.tildacdn.com/tild3566-3831-4632-a364-653836343438/-/resize/160x/-/format/webp/belarusbank.png" alt="bb" style="width:160px;")
                    img(src="https://thumb.tildacdn.com/tild3062-3866-4563-a135-333265393432/-/resize/160x/-/format/webp/bank-reshanie.jpg" alt="solution" style="width:160px;")
                    img(src="https://thumb.tildacdn.com/tild3930-3765-4435-b631-323864646636/-/resize/160x/-/format/webp/0rhTCJnLQuoD.png" alt="alfa" style="width:160px;")
                    img(src="https://thumb.tildacdn.com/tild3765-3835-4537-a534-316365393663/-/resize/160x/-/format/webp/belgazprombank.jpg" alt="bgpb" style="width:160px;")
                    img(src="https://thumb.tildacdn.com/tild3836-3533-4831-b335-383034363238/-/resize/160x/-/format/webp/Bank_Dabrabyt_eng.png" alt="db" style="width:160px;")

        .row.justify-content-center   
            .col-12.text-center
                p Для кредитования Вам  необходимо:
                ul
                    li - стаж работы не менее  3 месяцев
                    li - паспорт  (справок и поручителей не требуется)
                    li - личное присутствие
                p Направление заявки в банк  оформляет наш специалист . Личной явки в банк Вам не требуется.  
