header.header
  div.container
    div.row
      div.col-9
        ul.contact.justify-content-center
          li.contact__item 
            a(href="tel:+3752445440438")
              img(src="img/a1.png" alt="a1" width="16" height="16")
              span 8(044)5440438 (
              span
                img(src="img/viber.svg" alt="viber" width="14" height="14")
                span Viber)
          li.contact__item 
            a(href="tel:+375295685232")
              img(src="img/mts.png" alt="mts" width="30" height="16")
              span 8(029)5685232
      div.col-3
        ul.social.d-flex.justify-content-end
          li.social__item 
            a(href="https://www.instagram.com/stroyjoy/" target="_blank") 
              img(src="img/insta.svg" alt="insta" width="20" height="20")
          li.social__item 
            a(href="https://www.facebook.com/stroyjoy/") 
              img.fb(src="img/fb1.png" alt="fb" width="20" height="20")
