doctype html
html(lang="ru")
    block head
        head
            meta(charset="utf-8")
            title stroyjoy
            meta(content="width=device-width, initial-scale=1" name="viewport")
            meta(content="ie=edge" http-equiv="x-ua-compatible")
            meta(property="og:image" content="img/favicon.png")
            meta(property="og:title" content="Строительная компания ООО 'СтройДжой'")
            meta(property="og:description" content="Строительные работы по всей РБ.")
            link(rel="shortcut icon" href="img/favicon.png" type="image/png")
            link(rel="stylesheet" href="css/style.min.css")
    body
        block header
            include header
        block content
        block footer
            include footer
        block scripts
            script(src='js/main.min.js')
