section.our_work 
    .container
        .row.justify-content-center
            h4.bold Как мы работаем:
        .row.justify-content-center
            .col-9
                ul.work
                    li.work__item 
                        div
                            span.circle
                            span.number 1
                        p.text-center
                            span Вы звоните нам  либо заказываете обратный звонок. Также вы можете отправить нам на электронную почту 
                            a(href="#") stroyjoy@tut.by 
                            span или  
                            a(href="#") viber 8 044 544 04 38 
                            span запрос о вызове замерщика либо запрос произвести предварительный расчет услуги под ключ
                    li.work__item 
                        div
                            span.circle
                            span.number 2
                        p.text-center
                            span Выезд специалиста в согласованный срок для произведения точных замеров
                    li.work__item 
                        div
                            span.circle
                            span.number 3
                        p.text-center
                            span Составление сметы на работы и материалы
                    li.work__item 
                        div
                            span.circle
                            span.number 4
                        p.text-center
                            span При необходимости направление в банк-партнер заявки на оформление Вам кредита
                    li.work__item 
                        div
                            span.circle
                            span.number 5
                        p.text-center
                            span Подписание договора 
                    li.work__item 
                        div
                            span.circle
                            span.number 6
                        p.text-center
                            span Бесплатная доставка материала 
                    li.work__item 
                        div
                            span.circle
                            span.number 7
                        p.text-center
                            span Выполнение монтажниками работы
                    li.work__item 
                        div
                            span.circle
                            span.number 8
                        p.text-center
                            span При отсутствии замечаний по качеству - подписание акта выполненных работ.
        .row.justify-content-center   
            h4.text-center.about_red_stoke Наши специалисты работают по следующему графику:
        .row.justify-content-center  
            .col-1
                img(src="img/calendar.png" alt="calendar" width="32" height="32")
            .col-2
                div Пн- Пт с  9.00 до 21.00                                                                                                                                                        
                div Сб- Вс с 11.00 до 21.00 