.banner
    .blackout
    .container
        .row    
            .col-3.logo 
                a(href="/")
                    img(src="img/logo.svg" alt="logo" width="128" height="128") 
            .col-9.menu.d-flex.justify-content-end
                ul.menu__content
                    li.menu__content__item 
                        button О нас
                    li.menu__content__item 
                        button Услуги
                    li.menu__content__item 
                        button Заказать обратный звонок
        .row 
            h2 На радость Вам и Вашему дому!
