@import "utils/fonts";

@import "utils/variables";

@import "common/global";

@import "common/header";

@import "common/footer";

@import "common/how_to_work";

@import "common/calculate_modal";

@import "common/credit";

@import "includes/index/banner";

@import "includes/index/index";

@import "includes/roof/banner";

@import "includes/roof/roof";

@import "includes/siding/banner";

@import "includes/siding/siding";



@import "../../node_modules/bootstrap/scss/bootstrap";
