.our_work__item {
  margin-bottom: 4px;
  display: flex;
  align-items: center;
}

.our_work__item p {
  margin-top: 16px;
}

.circle {
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 4px solid $primary;
  border-top: 4px solid white;
  margin-bottom: 8px;
  transform: rotate(45deg);
}

.our_work__item:hover .circle {
  animation: spin 3s linear infinite;
}

.number {
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 2rem;
  text-align: center;
  color: $primary;
  margin-right: 16px;
}

.work_text_info {
  margin-top: 16px;
}
