extends common/layout

block content
    main.main.siding
        include includes/siding/banner
        section
            .container
                .row
                    .siding__info.text-center 
                        p Одно из самых популярных  и быстрореализуемых решений по преображению Вашего дома  - это отделка  сайдингом. Мы предлагаем  обшивку дома как с утеплением, так и без, мрнтаж цокольных панеле,  монтаж софитов. 
                        p На выбор варианты сайдинга: корабельный брус, блок-хаус, фасадные панели под имитацию кирпича или камня, сайдинг тимберблок (имитация дерева). 
                        p Если Вам по доступной цене и с официальной гарантией требуется быстрая и качественная оделка дома под ключ  - обращайтесь к нашему опературу  по телефону 
                        a(href="#") 8 044 544 04 38 (Viber) или 8 029 568 52 32.
                        p Оператор назначит в удобное для Вас время выезд специалиста  для произведения бесплатного  замера и  бесплатного расчета монтажа и  материалов.  
                        p Наши сотрудники помогут определить Вам с учетом Ваших пожеланий наиболее приемлемый вариант отделки в соотвношении цена -качество.
        include common/how_to_work
        section.cost 
            .container
                .row
                    table.table.table-bordered
                        tbody.text-center
                            tr 
                                th.table_header(colspan="3") СТОИМОСТЬ ОТДЕЛКИ САЙДИНГОМ ПОД КЛЮЧ
                            tr
                                td.bg-success без утепления
                                td.bg-accent от 50 бел. руб м.кв.
                                td.bg-accent В стоимость входит стоимость сайдинга (корабельный брус), стоимость комплектующих, обрешетка, крепеж, монтаж
                            tr
                                td.bg-success с утеплением
                                td.bg-accent от 67 бел. руб. м.кв.
                                td.bg-accent В стоимость входит стоимость сайдинга (корабельный брус), стоимость комплектующих, утеплитель 50мм, обрешетка, контробрешетка, ветромембрана, пароизоляция, крепеж, монтаж
                            tr
                                td.bg-success монтаж цокольного сайдинга с утеплением 
                                td.bg-accent от 67 бел. руб. м.кв.
                                td.bg-accent В стоимость входит стоимость фасадные панели, стоимость комплектующих, утеплитель 50мм, обрешетка, контробрешетка, ветромембрана, пароизоляция, крепеж, монтаж
                .row.justify-content-center 
                    p *Приведенные цены носят ознакомительный характер и не являются публичной офертой
        section.material-green
            .container
                .row.justify-content-center
                    h4.text-center МАТЕРИАЛЫ С КОТОРЫМИ МЫ РАБОТАЕМ
        section.material-yellow
            .container
                .row
                    .siding__info.text-center
                        span.red-line САЙДИНГ
                        p  - практичный, износоустойчивый, долговечный и эстетически красивый –  скрывает все дефекты стен, моментально придает зданию ухоженный вид, при этом сохраняя его на долгие годы, а также обеспечивает надежную защиту дома от механических и погодных факторов. Не удивительно, что спрос на этот отделочный материал неуклонно растет.
                .row.justify-content-center
                    .col-md-3
                        .h6.text-center Преимущества:   
                        ul.advantage
                            li.advantage__item Природный дизайн
                            li.advantage__item Натуральные фактуры
                            li.advantage__item Гарантия на цветостойкость
                            li.advantage__item Сертифицировано в Европе  
                .row
                    .col-md.text-center 
                        .siding__item.margin-bottom 
                            img(src="img/siding-item-white.png" alt="white siding")
                            h6.text-center КОРАБЕЛЬНЫЙ БРУС
                    .col-md.text-center 
                        .siding__item.margin-bottom 
                            img(src="img/block-house.png" alt="block-house")
                            h6 БЛОК ХАУС
                    .col-md.text-center
                        .siding__item.margin-bottom 
                            img(src="img/timber-dub.png" alt="timber-dub")
                            h6 ТИМБЕРБЛОК ДУБ
                .row
                    .col-md.text-center 
                        .siding__item.margin-bottom 
                            img(src="img/timber-el.png" alt="timber-el")
                            h6.text-center ТИМБЕРБЛОК ЕЛЬ
                    .col-md.text-center 
                        .siding__item.margin-bottom 
                            img(src="img/timber-kedr.png" alt="timber-kedr")
                            h6 ТИМБЕРБЛОК КЕДР
                    .col-md.text-center
                        .siding__item.margin-bottom 
                            img(src="img/timber-pixta.png" alt="timber-pixta")
                            h6 ТИМБЕРБЛОК ПИХТА
                .row.justify-content-center
                    .col-lg-4.col-md.text-center  
                        .siding__item.margin-bottom 
                            img(src="img/timber-yasen.png" alt="timber-yasen")
                            h6.text-center ТИМБЕРБЛОК ЯСЕНЬ
        section.material-green
            .container
                .row.justify-content-center
                    .siding__info
                        span.red-line ФАСАДНЫЕ ПАНЕЛИ
                .row
                    .col-md.text-center 
                        .siding__item.margin-bottom 
                            img(src="img/hokla.png" alt="hokla")
                            h6.text-center ХОКЛА
                    .col-md.text-center 
                        .siding__item.margin-bottom 
                            img(src="img/stown-house.png" alt="stown-house")
                            h6 СТОУН ХАУС
                    .col-md.text-center
                        .siding__item.margin-bottom 
                            img(src="img/stown-lock.png" alt="stown-lock")
                            h6 СТОУН ХАУС S-Lock
        section.material-yellow
            .container
                .row.justify-content-center
                    .siding__info
                        span.red-line СОФИТЫ
                .row
                    .col-md-4.text-center 
                        .siding__item.margin-bottom 
                            img(src="img/sofit-classic.png" alt="sofit-classic")
                            h6.text-center КЛАССИЧЕСКИЙ СОФИТ
                    .col-md-4.text-center 
                        .siding__item.margin-bottom 
                            img(src="img/sofit-pro.png" alt="sofit-pro")
                            h6 СОФИТ PRO
        section.our_work
            .container
                .row.justify-content-center
                    h4.margin-bottom НАШИ РАБОТЫ 
                .row
                    .col-md.text-center 
                        .siding__item.margin-bottom 
                            img(src="img/siding-roof-work1.png" alt="siding-roof-work1")
                    .col-md.text-center 
                        .siding__item.margin-bottom 
                            img(src="img/siding-work1.jpg" alt="siding-work1")
                    .col-md.text-center
                        .siding__item.margin-bottom 
                            img(src="img/roof-work.jpg" alt="roof-work")
                .row
                    .col-md.text-center 
                        .siding__item.margin-bottom 
                            img(src="img/roof-work1.jpg" alt="roof-work1")
                    .col-md.text-center 
                        .siding__item.margin-bottom 
                            img(src="img/roof-work2.jpg" alt="roof-work2")
                    .col-md.text-center
                        .siding__item.margin-bottom 
                            img(src="img/roof-work3.jpg" alt="roof-work3")
        include common/credit