$mediaWidthMobile: 320px;
$mediaWidthTablet: 768px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthLaptop: 1366px;

$font-family-sans-serif: 'Regular Regular';
$baseBlue: hsla(208, 100%, 55%, 1);
$primary: $baseBlue;
$success: #8aae34;
$accent: hsla(63, 82%, 77%, 1)
