.banner_roof
    .blackout.roof
    .container
        .row
            .col-6.logo 
                a(href="../")
                    img(src="img/logo.svg" alt="logo" width="128" height="128") 
            .col-6.menu.d-flex.justify-content-end
                .btn-container 
                    button.btn.btn-success.custom_roof_banner_btn(type="button" data-toggle="modal" data-target="#exampleModalCenter") Заказать звонок
        .baner_roof_content 
            .row
                h2 КРОВЕЛЬНЫЕ РАБОТЫ
            .row
                .sub_header под ключ по РБ!
            .row
                .sub_header.banner-roof_credit КРЕДИТОВАНИЕ ДО 60 МЕСЯЦЕВ
            .row
                button.btn.btn-success.custom_roof_banner_btn(type="button" data-toggle="modal" data-target="#calculateModal") Рассчитать стоимость
include ../../common/feedback_modal
include ../../common/calculate_modal
